body {
  background-color: #505;
  background-image: url(b61ce459fd57d25b2cde5bca1c6b2e87.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

